<!--<div class="row">
    <div class="col-lg-3 col-md-6 col-xs-12 col-sm-12 col-xl-3 col-12">
        <table class="table" border="2">
          <thead>
            <tr><th style="text-align: center;" scope="col-12">NCERT Class 6</th></tr>
          </thead>
          <tbody>
           <tr>
            <td>Science</td>
            <td>Social Science</td>
            <td>Mathematics</td>
           </tr>
           <tr>
            <td><a routerLink="/class6/ScienceQuiz">link</a></td>
            <td><a routerLink="/class6/SocialScienceQuiz">link</a></td>
            <td><a routerLink="">link</a></td>
           </tr>
          </tbody>
        </table>
      </div>
</div>-->
<!--
<div class="container-fluid row">
  <div class="col-lg-4">
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
<div class="col-lg-4">
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
<div class="col-lg-4">
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
</div>
</div>
-->
<!--
<div class="container">
  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="true" routerLink="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="">Disabled</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>-->

<h1 style="text-align: center;"><i><b>Class 6</b></i></h1>
<!--
<div class="card text-center">
  <div class="card-header">
    <b>Science</b>
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">Science is the intellectual and practical activity encompassing the systematic study of the structure and behavior of the physical and natural world through observation and experiment.</p>
    <a routerLink=""><img src="./assets/resources/img/SixthScience.jpg" alt="" class="card-img img-fluid"></a>
    <a routerLink="/class6/ScienceQuiz" class="btn btn-primary">Start Quiz</a>
  </div>
  <div class="card-footer text-muted"></div>
</div><br>
<div class="card text-center">
  <div class="card-header">
    General Studies
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">Systemetic study of subject related to society.</p>
    <a routerLink=""><img src="./assets/sources/img/SixthScience.jpg" alt="" class="card-img img-fluid"></a>
    <a routerLink="/class6/SocialScienceQuiz" class="btn btn-primary">Start Quiz</a>
  </div>
  <div class="card-footer text-muted"></div>
</div><br>
<div class="card text-center">
  <div class="card-header">
    Mathematics
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">
      Mathematics is the science and study of quality, structure, space, and change. Mathematicians seek out patterns, formulate new conjectures, and establish truth by rigorous deduction from appropriately chosen axioms and definitions.</p>
    <a routerLink="/class6/Mathematics" class="btn btn-primary">Start Quiz</a>
  </div>
  <div class="card-footer text-muted"></div>
</div>-->
<div class="container">
<div class="row">
<div class="col-lg-4 col-12 col-xs-12 col-sm-12 col-xl-4 col-md-6">
<div class="card border-info mb-3" style="max-width: 22rem;">
  <div class="card-header">Science</div>
  <div class="card-body">
    <h5 class="card-title">All In One 6</h5>
    <p class="card-text">This Quiz covers the important questions NCERT 6th Science TextBook.</p>
    <a routerLink="/class6/ScienceQuiz" class="btn btn-primary">Start Quiz</a>
  </div>
</div>
</div>
<div class="col-lg-4 col-xs-12 col-sm-12 col-xl-4 col-md-6">
  <div class="card border-info mb-3" style="max-width: 22rem;">
    <div class="card-header">Socail Studies</div>
    <div class="card-body">
      <h5 class="card-title">All In One 6</h5>
      <p class="card-text">This Quiz covers the important questions of NCERT 6th SocialStudies TextBooks.</p>
      <a routerLink="/class6/SocialScienceQuiz" class="btn btn-primary">Start Quiz</a>
    </div>
  </div>
</div>
  <div class="col-lg-4  col-xs-12 col-sm-12 col-xl-4 col-md-6">
    <div class="card border-info mb-3" style="max-width: 22rem;">
      <div class="card-header">Mathematics</div>
      <div class="card-body">
        <h5 class="card-title">All In One 6</h5>
        <p class="card-text">This Quiz covers the important questions of NCERT 6th Mathematics TextBook.</p>
        <a routerLink="/class6/MathematicsQuiz" class="btn btn-primary">Start Quiz</a>
      </div>
    </div>
</div> 
</div>

<router-outlet></router-outlet>
